<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/5.0.1/autosize.min.js"
        integrity="sha512-aBxhlAogg9r6Gtes+dsuqW6IQ4Ee0MtjexckbMNOVdxAfi5NSEd38BNEgFiaBWS6cl67r+8OImzxVKDdmswhnA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <link rel="stylesheet" href="/style.css" />
    <title><%= title %></title>
</head>

<body>
    <form action="/save" method="POST">
        <%- include("_utils.ejs", { canSave: true }) %>
        <div class="wrapper">
            <div class="line-numbers">
                <b>&gt;</b>
            </div>
            <textarea autofocus name="value"><%= locals.value == null ? locals.alert : locals.value %></textarea>
        </div>
    </form>
    <script>
        autosize(document.querySelector('textarea'))
    </script>
</body>

</html>