body {
  background-color: #282c34;
  margin: 0;
}

.wrapper {
  display: flex;
  padding: 1rem .5rem;
  font-size: 1rem;
}

pre {
  margin: 0;
}

#code-display {
  padding-top: 0;
  padding-bottom: 0;
}

.line-numbers {
  color: #7D7D7D;
  font-family: monospace;
  text-align: end;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea {
  background-color: transparent;
  resize: none;
  width: 100%;
  padding: 0;
  margin-top: .2rem;
  margin-left: 1rem;
  color: #b3b3b3;
  font-size: 12pt;
  font-family: monospace;
  min-height: calc(100vh - 2rem);
  border: none;
  outline: none;
}

.buttons-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  opacity: .15;
  transition: opacity 200ms ease-in-out;
  background-color: #827397;
  padding: 1rem;
  border-radius: 0 0 0 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons-wrapper:hover {
  opacity: 1;
}

.logo {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: #d19a66;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: monospace;
  display: inline-block;
}

.buttons {
  display: flex;
  margin-top: .5rem;
  font-size: 12pt;
  font-weight: 600;
  justify-content: center;
  font-family: monospace;
}

.buttons>*+* {
  margin-left: .25rem;
}

.btn {
  cursor: pointer;
  background: none;
  border: 1px solid #002b36;
  color: #002b36;
  border-radius: .25rem;
  font-size: 12pt;
  font-weight: 600;
  font-family: monospace;
  padding: .25rem .5rem;
  transition: background-color 200ms ease-in-out;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: #d19a66;
}